body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  font-weight: $font-weight-normal;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  font-weight: $font-weight-bold;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: rem(30);
}

h2 {
  font-size: rem(26);
}

h3 {
  font-size: rem(24);
}

h4 {
  font-size: rem(20);
}

h5,
h6 {
  font-size: rem(16);
}

p {
  margin: 0 0 $small-spacing;
  font-weight: $font-weight-light;
}

em {
  font-style: italic;
}

small {
  font-size: 80%;
}

a {
  color: $action-color;
  text-decoration: none;
  @include transition(color $base-duration $base-timing);

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {
  background: none;
  border-radius: 0;
  border: none;
  font-family: "Consolas", monospace;
  font-size: 0.9em;
  margin: 0;
  padding: 0 5px;
  background-color: lighten($light-gray-color, 6%);
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  font-size: 0.9em;
  background: #4d4d4d;
  margin: 0 0;
  padding: 2px 10px;
  overflow: auto;
  color: #4c4c4c;
  line-height: 22.400000000000002px

  code {
    line-height: 1.75em;
  }
}


pre .comment {
    color: #666
}
pre .title {
    color: #a6e22e
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
    color: #f2777a
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
    color: #66d9ef
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
    color: #e6db74
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
    color: #e6db74
}
pre .css .hexcolor {
    color: #6cc
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
    color: #69c
}
pre .keyword,
pre .javascript .function {
    color: #f92672
}